*{
    margin: 0;
    padding:0;
    list-style: none;
}
#outline{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    /* background-color: blanchedalmond; */
    width: 600px;
    height: 600px;
}
.outline{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    background-color: blanchedalmond;
}

.head{
    background-color: green;
    width: 10px;
    height: 10px;
    position: absolute
}
.body{
    background-color: #f40;
    width: 10px;
    height: 10px;
    position: absolute;
}